In [57]:
from pathlib import Path

import pandas as pd

from pybenchmark.client import BenchmarkClient

In [58]:
URL = "http://127.0.0.1:8000"
DATA_DIR = Path("../resources")

In [59]:
client = BenchmarkClient(url=URL)

# Muscle Groups

In [60]:
df = pd.read_excel(DATA_DIR / "setup.xlsx", sheet_name="musclegroups")
df.head()

         name
0       chest
1     triceps
2      biceps
3   shoulders
4  quadriceps

In [61]:
for name in df.name.tolist():
    try:
        response = client.musclegroups.create_musclegroup(name=name)
        print(f"Created Muscle Group {name}")
    except Exception as e:
        print(e)

Created Muscle Group chest
Created Muscle Group triceps
Created Muscle Group biceps
Created Muscle Group shoulders
Created Muscle Group quadriceps
Created Muscle Group hamstrings
Created Muscle Group calves
Created Muscle Group core
Created Muscle Group back
Created Muscle Group glutes

# Exercises

In [62]:
df = pd.read_excel(DATA_DIR / "setup.xlsx", sheet_name="exercises")
df.head()

                                   name    musclegroups
0                           Bench Press  chest, triceps
1                     Lean-In Cable Row    back, biceps
2  Dumbbell Shoulder Press Neutral Grip       shoulders
3             Lat Pulldown Neutral Grip    back, biceps
4                     Rope Hammer Curls          biceps

In [63]:
mgs = pd.DataFrame(client.musclegroups.get_musclegroups())
mgs.head()

         name  id
0       chest   1
1     triceps   2
2      biceps   3
3   shoulders   4
4  quadriceps   5

In [64]:
for ix, exercise in df.iterrows():
    name = exercise["name"]
    mg_names = [mg.strip() for mg in exercise.musclegroups.split(",")]
    mg_ids = mgs[mgs["name"].isin(mg_names)].id.to_list()
    try:
        response = client.exercises.create_exercise(name=name, musclegroup_ids=mg_ids)
        print(f"Created Exercise {name}")
    except Exception as e:
        print(e)

Created Exercise Bench Press
Created Exercise Lean-In Cable Row
Created Exercise Dumbbell Shoulder Press Neutral Grip
Created Exercise Lat Pulldown Neutral Grip
Created Exercise Rope Hammer Curls
Created Exercise Cable Lateral Raises
Created Exercise Tricep Pushdown
Created Exercise V-Bar Pushdown
Created Exercise Barbell Back Squats
Created Exercise Barbell Stiff Leg Deadlift
Created Exercise Dumbbell Bulgarian Split Squats Single Arm
Created Exercise Hyperextensions
Created Exercise Rollouts
Created Exercise Military Press
Created Exercise Pull Ups Neutral Grip
Created Exercise Incline Dumbbell Bench Press Neutral Grip
Created Exercise Dumbbell Prone Rows
Created Exercise Seated Dumbbell Hammer Curls
Created Exercise Seated Dumbbell Lat Raises
Created Exercise Dumbbell Skull Crushers
Created Exercise Trap Bar Deadlift
Created Exercise Dumbbell Split Squats
Created Exercise Lying Leg Curls
Created Exercise Leg Press
Created Exercise Leg Raises
Created Exercise Hack Squat
Created Exercise Pendulum Squat
Created Exercise Belt Squat
Created Exercise Incline Chest Press Machine
Created Exercise Chest Press Machine
Created Exercise Machine Row
Created Exercise Cable Flyes
Created Exercise Incline Dumbbell Curls
Created Exercise California Press
Created Exercise Pull Ups Supinated Grip
Created Exercise Dips
Created Exercise Face Pulls
Created Exercise Seated Cable Row
Created Exercise Press Ups
Created Exercise Farmers Walks
Created Exercise Romanian Deadlift
Created Exercise Seated Leg Curls
Created Exercise Leg Extensions
Created Exercise Dumbbell Shoulder Press Pronated Grip
Created Exercise Overhead Tricep Rope Extension
Created Exercise Cable Drag Curls
Created Exercise Walking Lunges
Created Exercise Lat Pulldown Overhand Grip

# Workout Routines

In [65]:
df = pd.read_excel(DATA_DIR / "setup.xlsx", sheet_name="workoutroutines")
df = df.rename(columns={"name": "routine_name"})
df.head()

               routine_name           exercise  reps
0  Wave Loading 321 Lower 1  Trap Bar Deadlift     3
1  Wave Loading 321 Lower 1  Trap Bar Deadlift     2
2  Wave Loading 321 Lower 1  Trap Bar Deadlift     1
3  Wave Loading 321 Lower 1  Trap Bar Deadlift     3
4  Wave Loading 321 Lower 1  Trap Bar Deadlift     2

In [67]:
routines = df["routine_name"].unique()
routines

array(['Wave Loading 321 Lower 1', 'Wave Loading 321 Upper 1',
       'Wave Loading 321 Lower 2', 'Wave Loading 321 Upper 2',
       'Wave Loading 642 Lower 1', 'Wave Loading 642 Upper 1',
       'Wave Loading 642 Lower 2', 'Wave Loading 642 Upper 2',
       'Hypertrophy Legs', 'Hypertrophy Chest and Back',
       'Hypertrophy Shoulders and Arms', 'Arm Block Chest',
       'Arm Block Back', 'Arm Block Legs', 'Arm Block Arms',
       'Arm Block Legs 2'], dtype=object)

In [68]:
exs = pd.DataFrame(client.exercises.get_exercises())
exs.head()

                                   name  id
0                           bench press   1
1                     lean-in cable row   2
2  dumbbell shoulder press neutral grip   3
3             lat pulldown neutral grip   4
4                     rope hammer curls   5

In [69]:
df["exercise_lower"] = df.exercise.str.lower()
df.head()

               routine_name           exercise  reps     exercise_lower
0  Wave Loading 321 Lower 1  Trap Bar Deadlift     3  trap bar deadlift
1  Wave Loading 321 Lower 1  Trap Bar Deadlift     2  trap bar deadlift
2  Wave Loading 321 Lower 1  Trap Bar Deadlift     1  trap bar deadlift
3  Wave Loading 321 Lower 1  Trap Bar Deadlift     3  trap bar deadlift
4  Wave Loading 321 Lower 1  Trap Bar Deadlift     2  trap bar deadlift

In [70]:
df_all = df.merge(right=exs, left_on="exercise_lower", right_on="name").set_index("routine_name")[["reps", "id"]]
df_all

                          reps  id
routine_name
Wave Loading 321 Lower 1     3  21
Wave Loading 321 Lower 1     2  21
Wave Loading 321 Lower 1     1  21
Wave Loading 321 Lower 1     3  21
Wave Loading 321 Lower 1     2  21
...                        ...  ..
Arm Block Legs 2            24  47
Arm Block Legs 2            20  42
Arm Block Legs 2            20  42
Arm Block Legs 2            20  42
Arm Block Legs 2            20  42

[333 rows x 2 columns]

In [73]:
for routine in routines:
    exercises = df_all.loc[routine].to_dict(orient="records")
    try:
        response = client.workout_routines.create_workout_routine(name=routine, exercises=exercises)
        print(f"Created Routine {routine}")
    except Exception as e:
        print(e)

Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)

In [52]:
exercises.to_dict(orient="records")

[{'reps': 20, 'id': 24},
 {'reps': 20, 'id': 24},
 {'reps': 20, 'id': 24},
 {'reps': 20, 'id': 24},
 {'reps': 12, 'id': 12},
 {'reps': 12, 'id': 12},
 {'reps': 12, 'id': 12},
 {'reps': 12, 'id': 12},
 {'reps': 24, 'id': 47},
 {'reps': 24, 'id': 47},
 {'reps': 24, 'id': 47},
 {'reps': 20, 'id': 42},
 {'reps': 20, 'id': 42},
 {'reps': 20, 'id': 42},
 {'reps': 20, 'id': 42}]