In [1]:
import datetime as dt
from pathlib import Path

import pandas as pd

from pybenchmark.client import BenchmarkClient

In [2]:
URL = "https://benchmark-container-app.braveflower-04bf6ce2.uksouth.azurecontainerapps.io/"
DATA_DIR = Path("../resources")

In [3]:
client = BenchmarkClient(url=URL)

# Workouts

In [4]:
df = pd.read_excel(DATA_DIR / "setup.xlsx", sheet_name="workouts")
df = df.rename(columns={"name": "routine_name"})
df.head()

    workoutroutine       date     exercise  weight  reps
0  Arm Block Chest 2024-10-28  Bench Press    72.5     8
1  Arm Block Chest 2024-10-28  Bench Press    72.5     5
2  Arm Block Chest 2024-10-28  Bench Press    60.0    11
3  Arm Block Chest 2024-10-28         Dips     0.0    10
4  Arm Block Chest 2024-10-28         Dips     0.0    10

In [5]:
latest_workout_date = client.workouts.get_latest_workout()["date"]
df = df[df["date"] > latest_workout_date]
df.head()

      workoutroutine       date               exercise  weight  reps
1175  Arm Block Back 2024-12-16  Pull Ups Neutral Grip    10.0     4
1176  Arm Block Back 2024-12-16  Pull Ups Neutral Grip     0.0     9
1177  Arm Block Back 2024-12-16    Dumbbell Prone Rows    35.0     7
1178  Arm Block Back 2024-12-16    Dumbbell Prone Rows    35.0     7
1179  Arm Block Back 2024-12-16    Dumbbell Prone Rows    30.0    12

In [6]:
dates = df["date"].unique()
dates = [str(date.date()) for date in dates]

In [7]:
exs = pd.DataFrame(client.exercises.get_exercises())
exs = exs.rename(columns={"id": "exercise_id", "name": "exercise_name"})
exs.head()

                          exercise_name  exercise_id
0                           bench press            1
1                     lean-in cable row            2
2  dumbbell shoulder press neutral grip            3
3             lat pulldown neutral grip            4
4                     rope hammer curls            5

In [8]:
routines = pd.DataFrame(client.workout_routines.get_workout_routines())
routines = routines.rename(columns={"name": "routine_name", "id": "routine_id"})
routines.head()

,routine_name,routine_id,routine_exercises,user_id
0,wave loading 321 lower 1,1,"[{'exercise': {'name': 'trap bar deadlift', 'i...",1
1,wave loading 321 upper 1,2,"[{'exercise': {'name': 'bench press', 'id': 1}...",1
2,wave loading 321 lower 2,3,"[{'exercise': {'name': 'barbell back squats', ...",1
3,wave loading 321 upper 2,4,"[{'exercise': {'name': 'military press', 'id':...",1
4,wave loading 642 lower 1,5,"[{'exercise': {'name': 'trap bar deadlift', 'i...",1

In [9]:
df["exercise_lower"] = df.exercise.str.lower()
df["workoutroutine_lower"] = df.workoutroutine.str.lower()
df.head()

,workoutroutine,date,exercise,weight,reps,exercise_lower,workoutroutine_lower
1175,Arm Block Back,2024-12-16,Pull Ups Neutral Grip,10.0,4,pull ups neutral grip,arm block back
1176,Arm Block Back,2024-12-16,Pull Ups Neutral Grip,0.0,9,pull ups neutral grip,arm block back
1177,Arm Block Back,2024-12-16,Dumbbell Prone Rows,35.0,7,dumbbell prone rows,arm block back
1178,Arm Block Back,2024-12-16,Dumbbell Prone Rows,35.0,7,dumbbell prone rows,arm block back
1179,Arm Block Back,2024-12-16,Dumbbell Prone Rows,30.0,12,dumbbell prone rows,arm block back

In [10]:
df_all = df.merge(right=exs, left_on="exercise_lower", right_on="exercise_name")
df_all = df_all.merge(
    right=routines, left_on="workoutroutine_lower", right_on="routine_name"
)[["date", "weight", "reps", "routine_id", "exercise_id"]]
df_all = df_all.set_index(["date", "routine_id", "exercise_id"])
df_all

                                   weight  reps
date       routine_id exercise_id
2024-12-16 13         15             10.0     4
                      15              0.0     9
                      17             35.0     7
                      17             35.0     7
                      17             30.0    12
                      38             45.0    10
                      38             45.0    10
                      38             35.0    15
                      48             45.0    10
                      48             45.0    10
                      48             35.0    15
                      33             10.0    20
                      33             10.0    15
                      33             10.0    13
                      40             24.0    60
                      40             24.0    50
2024-12-17 12         1              72.5     8
                      1              72.5     8
                      1              62.5    12
                      36             15.0    13
                      36             15.0    13
                      36             15.0    11
                      30             70.0    10
                      30             55.0    15
                      6               7.5    10
                      6               5.0    18
                      6               5.0    18
                      8              20.0    20
                      8              20.0    20
                      8              20.0    15
                      39              0.0    20
                      39              0.0    20
2024-12-18 15         9             115.0     8
                      9              95.0    15
                      41            127.5     8
                      41            102.5    15
                      22             30.0    10
                      22             30.0    10
                      22             30.0    10
                      42             50.0    15
                      42             50.0    15
                      42             50.0    15
                      43             35.0    20
                      43             35.0    20
                      43             35.0    20

In [11]:
for date in dates:
    all_workouts = []
    routines = df_all.loc[date].index.get_level_values(0).unique()
    for routine in routines:
        all_exercises = []
        exercises = df_all.loc[(date, routine)].index.unique()
        for exercise in exercises:
            sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
            data = {"id": exercise, "sets": sets}
            all_exercises.append(data)
        try:
            response = client.workouts.create_workout(
                date=str(date),
                exercises=all_exercises,
                workoutroutine_id=routine,
                user_id=1,
            )
            print(f"Created Workout for date {date}")
        except Exception as e:
            print(e)

C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")

Created Workout for date 2024-12-16

C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")

Created Workout for date 2024-12-17

C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")
C:\Users\jorda\AppData\Local\Temp\ipykernel_8200\3749088168.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  sets = df_all.loc[(date, routine, exercise)].to_dict(orient="records")

Created Workout for date 2024-12-18

# Weights

In [18]:
last_weight = client.weights.get_weights(user_id=1)[0]
last_weight_date = dt.datetime.strptime(last_weight["date"], "%Y-%m-%d").date()
last_weight_date

datetime.date(2024, 12, 13)

In [13]:
WEEKDAYS = {
    "Monday": 0,
    "Tuesday": 1,
    "Wednesday": 2,
    "Thursday": 3,
    "Friday": 4,
    "Saturday": 5,
    "Sunday": 6,
}

In [14]:
df = pd.read_excel(DATA_DIR / "weights.xlsx", sheet_name="Sheet2")
df = df.melt(
    id_vars="Date",
    value_vars=[
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday",
    ],
)
df["dow"] = df["variable"].map(WEEKDAYS)
df["Real Date"] = df.apply(axis=1, func=lambda x: dt.timedelta(days=x.dow) + x.Date)
df = (
    df.drop(columns=["Date", "dow", "variable"])
    .rename(columns={"value": "weight", "Real Date": "date"})
    .dropna()
)
weights = df.to_dict(orient="records")
weights

[{'weight': 60.0, 'date': Timestamp('2022-02-07 00:00:00')},
 {'weight': 60.9, 'date': Timestamp('2022-02-14 00:00:00')},
 {'weight': 60.0, 'date': Timestamp('2022-02-28 00:00:00')},
 {'weight': 60.6, 'date': Timestamp('2022-03-14 00:00:00')},
 {'weight': 60.8, 'date': Timestamp('2022-03-21 00:00:00')},
 {'weight': 61.9, 'date': Timestamp('2022-03-28 00:00:00')},
 {'weight': 62.1, 'date': Timestamp('2022-04-25 00:00:00')},
 {'weight': 62.2, 'date': Timestamp('2022-05-30 00:00:00')},
 {'weight': 63.5, 'date': Timestamp('2022-06-13 00:00:00')},
 {'weight': 64.6, 'date': Timestamp('2022-06-20 00:00:00')},
 {'weight': 64.0, 'date': Timestamp('2022-07-04 00:00:00')},
 {'weight': 64.2, 'date': Timestamp('2022-07-11 00:00:00')},
 {'weight': 65.0, 'date': Timestamp('2022-08-22 00:00:00')},
 {'weight': 64.0, 'date': Timestamp('2022-08-29 00:00:00')},
 {'weight': 63.1, 'date': Timestamp('2022-09-05 00:00:00')},
 {'weight': 61.8, 'date': Timestamp('2022-09-12 00:00:00')},
 {'weight': 61.6, 'date': Timestamp('2022-09-19 00:00:00')},
 {'weight': 60.7, 'date': Timestamp('2022-09-26 00:00:00')},
 {'weight': 58.7, 'date': Timestamp('2022-10-10 00:00:00')},
 {'weight': 58.8, 'date': Timestamp('2022-10-17 00:00:00')},
 {'weight': 57.9, 'date': Timestamp('2022-10-24 00:00:00')},
 {'weight': 56.7, 'date': Timestamp('2022-11-07 00:00:00')},
 {'weight': 58.2, 'date': Timestamp('2022-11-28 00:00:00')},
 {'weight': 59.8, 'date': Timestamp('2022-12-05 00:00:00')},
 {'weight': 61.8, 'date': Timestamp('2023-01-16 00:00:00')},
 {'weight': 61.0, 'date': Timestamp('2023-01-23 00:00:00')},
 {'weight': 61.4, 'date': Timestamp('2023-01-30 00:00:00')},
 {'weight': 61.4, 'date': Timestamp('2023-02-06 00:00:00')},
 {'weight': 61.4, 'date': Timestamp('2023-02-13 00:00:00')},
 {'weight': 61.3, 'date': Timestamp('2023-02-20 00:00:00')},
 {'weight': 62.0, 'date': Timestamp('2023-02-27 00:00:00')},
 {'weight': 62.4, 'date': Timestamp('2023-03-06 00:00:00')},
 {'weight': 61.7, 'date': Timestamp('2023-03-13 00:00:00')},
 {'weight': 62.6, 'date': Timestamp('2023-03-20 00:00:00')},
 {'weight': 61.9, 'date': Timestamp('2023-03-27 00:00:00')},
 {'weight': 62.5, 'date': Timestamp('2023-04-03 00:00:00')},
 {'weight': 63.2, 'date': Timestamp('2023-04-17 00:00:00')},
 {'weight': 63.2, 'date': Timestamp('2023-04-24 00:00:00')},
 {'weight': 62.1, 'date': Timestamp('2023-05-01 00:00:00')},
 {'weight': 63.6, 'date': Timestamp('2023-05-08 00:00:00')},
 {'weight': 63.3, 'date': Timestamp('2023-05-15 00:00:00')},
 {'weight': 65.8, 'date': Timestamp('2023-07-03 00:00:00')},
 {'weight': 66.8, 'date': Timestamp('2023-07-10 00:00:00')},
 {'weight': 67.1, 'date': Timestamp('2023-07-17 00:00:00')},
 {'weight': 67.7, 'date': Timestamp('2023-07-24 00:00:00')},
 {'weight': 67.9, 'date': Timestamp('2023-07-31 00:00:00')},
 {'weight': 69.5, 'date': Timestamp('2023-08-21 00:00:00')},
 {'weight': 69.7, 'date': Timestamp('2023-08-28 00:00:00')},
 {'weight': 70.5, 'date': Timestamp('2023-09-04 00:00:00')},
 {'weight': 71.6, 'date': Timestamp('2023-10-09 00:00:00')},
 {'weight': 72.1, 'date': Timestamp('2024-01-01 00:00:00')},
 {'weight': 73.9, 'date': Timestamp('2024-02-05 00:00:00')},
 {'weight': 76.1, 'date': Timestamp('2024-02-19 00:00:00')},
 {'weight': 74.7, 'date': Timestamp('2024-02-26 00:00:00')},
 {'weight': 74.6, 'date': Timestamp('2024-03-04 00:00:00')},
 {'weight': 74.8, 'date': Timestamp('2024-03-18 00:00:00')},
 {'weight': 70.2, 'date': Timestamp('2024-09-16 00:00:00')},
 {'weight': 69.15, 'date': Timestamp('2024-09-23 00:00:00')},
 {'weight': 67.5, 'date': Timestamp('2024-10-07 00:00:00')},
 {'weight': 66.2, 'date': Timestamp('2024-10-14 00:00:00')},
 {'weight': 65.6, 'date': Timestamp('2024-10-21 00:00:00')},
 {'weight': 64.4, 'date': Timestamp('2024-10-28 00:00:00')},
 {'weight': 65.2, 'date': Timestamp('2024-11-04 00:00:00')},
 {'weight': 63.7, 'date': Timestamp('2024-11-11 00:00:00')},
 {'weight': 64.6, 'date': Timestamp('2024-12-02 00:00:00')},
 {'weight': 64.3, 'date': Timestamp('2024-12-09 00:00:00')},
 {'weight': 59.9, 'date': Timestamp('2022-02-01 00:00:00')},
 {'weight': 60.8, 'date': Timestamp('2022-02-15 00:00:00')},
 {'weight': 59.8, 'date': Timestamp('2022-03-01 00:00:00')},
 {'weight': 60.4, 'date': Timestamp('2022-03-08 00:00:00')},
 {'weight': 60.8, 'date': Timestamp('2022-03-22 00:00:00')},
 {'weight': 61.0, 'date': Timestamp('2022-03-29 00:00:00')},
 {'weight': 62.7, 'date': Timestamp('2022-05-03 00:00:00')},
 {'weight': 62.7, 'date': Timestamp('2022-05-17 00:00:00')},
 {'weight': 61.9, 'date': Timestamp('2022-05-24 00:00:00')},
 {'weight': 61.7, 'date': Timestamp('2022-05-31 00:00:00')},
 {'weight': 63.4, 'date': Timestamp('2022-08-30 00:00:00')},
 {'weight': 62.6, 'date': Timestamp('2022-09-06 00:00:00')},
 {'weight': 61.1, 'date': Timestamp('2022-09-20 00:00:00')},
 {'weight': 60.1, 'date': Timestamp('2022-10-04 00:00:00')},
 {'weight': 58.3, 'date': Timestamp('2022-10-11 00:00:00')},
 {'weight': 58.3, 'date': Timestamp('2022-10-18 00:00:00')},
 {'weight': 57.4, 'date': Timestamp('2022-10-25 00:00:00')},
 {'weight': 57.9, 'date': Timestamp('2022-11-01 00:00:00')},
 {'weight': 57.3, 'date': Timestamp('2022-11-08 00:00:00')},
 {'weight': 59.0, 'date': Timestamp('2022-12-06 00:00:00')},
 {'weight': 61.2, 'date': Timestamp('2023-01-17 00:00:00')},
 {'weight': 61.4, 'date': Timestamp('2023-01-24 00:00:00')},
 {'weight': 62.3, 'date': Timestamp('2023-01-31 00:00:00')},
 {'weight': 61.1, 'date': Timestamp('2023-02-07 00:00:00')},
 {'weight': 61.0, 'date': Timestamp('2023-02-14 00:00:00')},
 {'weight': 61.2, 'date': Timestamp('2023-02-21 00:00:00')},
 {'weight': 61.2, 'date': Timestamp('2023-02-28 00:00:00')},
 {'weight': 61.9, 'date': Timestamp('2023-03-07 00:00:00')},
 {'weight': 61.6, 'date': Timestamp('2023-03-14 00:00:00')},
 {'weight': 62.1, 'date': Timestamp('2023-03-21 00:00:00')},
 {'weight': 62.0, 'date': Timestamp('2023-03-28 00:00:00')},
 {'weight': 61.8, 'date': Timestamp('2023-04-04 00:00:00')},
 {'weight': 62.6, 'date': Timestamp('2023-04-18 00:00:00')},
 {'weight': 62.6, 'date': Timestamp('2023-04-25 00:00:00')},
 {'weight': 62.5, 'date': Timestamp('2023-05-02 00:00:00')},
 {'weight': 63.1, 'date': Timestamp('2023-05-09 00:00:00')},
 {'weight': 64.2, 'date': Timestamp('2023-05-30 00:00:00')},
 {'weight': 66.1, 'date': Timestamp('2023-06-27 00:00:00')},
 {'weight': 67.6, 'date': Timestamp('2023-07-25 00:00:00')},
 {'weight': 68.0, 'date': Timestamp('2023-08-01 00:00:00')},
 {'weight': 68.3, 'date': Timestamp('2023-08-15 00:00:00')},
 {'weight': 69.5, 'date': Timestamp('2023-08-29 00:00:00')},
 {'weight': 71.3, 'date': Timestamp('2023-10-10 00:00:00')},
 {'weight': 71.1, 'date': Timestamp('2023-12-12 00:00:00')},
 {'weight': 74.3, 'date': Timestamp('2024-03-26 00:00:00')},
 {'weight': 73.8, 'date': Timestamp('2024-04-16 00:00:00')},
 {'weight': 68.6, 'date': Timestamp('2024-09-10 00:00:00')},
 {'weight': 68.2, 'date': Timestamp('2024-09-17 00:00:00')},
 {'weight': 67.4, 'date': Timestamp('2024-09-24 00:00:00')},
 {'weight': 67.6, 'date': Timestamp('2024-10-01 00:00:00')},
 {'weight': 67.1, 'date': Timestamp('2024-10-08 00:00:00')},
 {'weight': 66.5, 'date': Timestamp('2024-10-15 00:00:00')},
 {'weight': 64.6, 'date': Timestamp('2024-10-29 00:00:00')},
 {'weight': 64.4, 'date': Timestamp('2024-11-05 00:00:00')},
 {'weight': 63.9, 'date': Timestamp('2024-11-12 00:00:00')},
 {'weight': 63.8, 'date': Timestamp('2024-11-19 00:00:00')},
 {'weight': 63.9, 'date': Timestamp('2024-11-26 00:00:00')},
 {'weight': 64.1, 'date': Timestamp('2024-12-03 00:00:00')},
 {'weight': 63.7, 'date': Timestamp('2024-12-10 00:00:00')},
 {'weight': 60.3, 'date': Timestamp('2022-01-26 00:00:00')},
 {'weight': 61.05, 'date': Timestamp('2022-02-02 00:00:00')},
 {'weight': 61.5, 'date': Timestamp('2022-02-16 00:00:00')},
 {'weight': 60.3, 'date': Timestamp('2022-03-02 00:00:00')},
 {'weight': 60.75, 'date': Timestamp('2022-03-09 00:00:00')},
 {'weight': 61.35, 'date': Timestamp('2022-03-16 00:00:00')},
 {'weight': 61.4, 'date': Timestamp('2022-03-23 00:00:00')},
 {'weight': 62.3, 'date': Timestamp('2022-03-30 00:00:00')},
 {'weight': 62.3, 'date': Timestamp('2022-04-06 00:00:00')},
 {'weight': 61.7, 'date': Timestamp('2022-04-13 00:00:00')},
 {'weight': 62.7, 'date': Timestamp('2022-04-20 00:00:00')},
 {'weight': 63.1, 'date': Timestamp('2022-04-27 00:00:00')},
 {'weight': 63.6, 'date': Timestamp('2022-05-04 00:00:00')},
 {'weight': 63.75, 'date': Timestamp('2022-05-18 00:00:00')},
 {'weight': 62.95, 'date': Timestamp('2022-05-25 00:00:00')},
 {'weight': 62.85, 'date': Timestamp('2022-06-01 00:00:00')},
 {'weight': 62.9, 'date': Timestamp('2022-06-08 00:00:00')},
 {'weight': 64.2, 'date': Timestamp('2022-06-15 00:00:00')},
 {'weight': 64.4, 'date': Timestamp('2022-06-22 00:00:00')},
 {'weight': 64.7, 'date': Timestamp('2022-06-29 00:00:00')},
 {'weight': 65.05, 'date': Timestamp('2022-07-06 00:00:00')},
 {'weight': 64.85, 'date': Timestamp('2022-07-13 00:00:00')},
 {'weight': 64.65, 'date': Timestamp('2022-07-20 00:00:00')},
 {'weight': 64.95, 'date': Timestamp('2022-08-10 00:00:00')},
 {'weight': 65.15, 'date': Timestamp('2022-08-17 00:00:00')},
 {'weight': 65.65, 'date': Timestamp('2022-08-24 00:00:00')},
 {'weight': 64.15, 'date': Timestamp('2022-08-31 00:00:00')},
 {'weight': 61.85, 'date': Timestamp('2022-09-21 00:00:00')},
 {'weight': 61.45, 'date': Timestamp('2022-09-28 00:00:00')},
 {'weight': 58.55, 'date': Timestamp('2022-10-12 00:00:00')},
 {'weight': 58.1, 'date': Timestamp('2022-10-19 00:00:00')},
 {'weight': 58.15, 'date': Timestamp('2022-10-26 00:00:00')},
 {'weight': 58.05, 'date': Timestamp('2022-11-02 00:00:00')},
 {'weight': 57.3, 'date': Timestamp('2022-11-09 00:00:00')},
 {'weight': '61. 05', 'date': Timestamp('2022-11-23 00:00:00')},
 {'weight': 60.15, 'date': Timestamp('2022-11-30 00:00:00')},
 {'weight': 59.3, 'date': Timestamp('2022-12-07 00:00:00')},
 {'weight': 60.2, 'date': Timestamp('2022-12-14 00:00:00')},
 {'weight': 60.5, 'date': Timestamp('2023-01-18 00:00:00')},
 {'weight': 61, 'date': Timestamp('2023-01-25 00:00:00')},
 {'weight': 61.7, 'date': Timestamp('2023-02-01 00:00:00')},
 {'weight': 61.5, 'date': Timestamp('2023-02-08 00:00:00')},
 {'weight': 61.2, 'date': Timestamp('2023-02-15 00:00:00')},
 {'weight': 60.9, 'date': Timestamp('2023-02-22 00:00:00')},
 {'weight': 61.7, 'date': Timestamp('2023-03-01 00:00:00')},
 {'weight': 61.8, 'date': Timestamp('2023-03-08 00:00:00')},
 {'weight': 61.7, 'date': Timestamp('2023-03-22 00:00:00')},
 {'weight': 62.3, 'date': Timestamp('2023-04-05 00:00:00')},
 {'weight': 62.8, 'date': Timestamp('2023-04-19 00:00:00')},
 {'weight': 62.7, 'date': Timestamp('2023-04-26 00:00:00')},
 {'weight': 62.6, 'date': Timestamp('2023-05-10 00:00:00')},
 {'weight': 64.9, 'date': Timestamp('2023-05-31 00:00:00')},
 {'weight': 66.1, 'date': Timestamp('2023-06-28 00:00:00')},
 {'weight': 65.7, 'date': Timestamp('2023-07-05 00:00:00')},
 {'weight': 66.8, 'date': Timestamp('2023-07-12 00:00:00')},
 {'weight': 66.8, 'date': Timestamp('2023-07-19 00:00:00')},
 {'weight': 67.8, 'date': Timestamp('2023-07-26 00:00:00')},
 {'weight': 68.8, 'date': Timestamp('2023-08-16 00:00:00')},
 {'weight': 69.7, 'date': Timestamp('2023-08-23 00:00:00')},
 {'weight': 69.6, 'date': Timestamp('2023-08-30 00:00:00')},
 {'weight': 73.5, 'date': Timestamp('2024-04-17 00:00:00')},
 {'weight': 68.1, 'date': Timestamp('2024-09-11 00:00:00')},
 {'weight': 67.6, 'date': Timestamp('2024-09-18 00:00:00')},
 {'weight': 66.8, 'date': Timestamp('2024-09-25 00:00:00')},
 {'weight': 66.5, 'date': Timestamp('2024-10-02 00:00:00')},
 {'weight': 66.4, 'date': Timestamp('2024-10-09 00:00:00')},
 {'weight': 65.9, 'date': Timestamp('2024-10-16 00:00:00')},
 {'weight': 64.7, 'date': Timestamp('2024-10-30 00:00:00')},
 {'weight': 63.8, 'date': Timestamp('2024-11-06 00:00:00')},
 {'weight': 63.5, 'date': Timestamp('2024-11-13 00:00:00')},
 {'weight': 64, 'date': Timestamp('2024-11-27 00:00:00')},
 {'weight': 64, 'date': Timestamp('2024-12-11 00:00:00')},
 {'weight': 61.3, 'date': Timestamp('2022-02-17 00:00:00')},
 {'weight': 59.7, 'date': Timestamp('2022-03-03 00:00:00')},
 {'weight': 60.4, 'date': Timestamp('2022-03-10 00:00:00')},
 {'weight': 60.6, 'date': Timestamp('2022-03-17 00:00:00')},
 {'weight': 61.0, 'date': Timestamp('2022-03-24 00:00:00')},
 {'weight': 61.7, 'date': Timestamp('2022-04-21 00:00:00')},
 {'weight': 62.8, 'date': Timestamp('2022-05-05 00:00:00')},
 {'weight': 62.6, 'date': Timestamp('2022-06-16 00:00:00')},
 {'weight': 63.2, 'date': Timestamp('2022-09-01 00:00:00')},
 {'weight': 62.3, 'date': Timestamp('2022-09-08 00:00:00')},
 {'weight': 62.0, 'date': Timestamp('2022-09-15 00:00:00')},
 {'weight': 60.6, 'date': Timestamp('2022-09-29 00:00:00')},
 {'weight': 59.1, 'date': Timestamp('2022-10-06 00:00:00')},
 {'weight': 57.4, 'date': Timestamp('2022-10-20 00:00:00')},
 {'weight': 57.2, 'date': Timestamp('2022-10-27 00:00:00')},
 {'weight': 57.2, 'date': Timestamp('2022-11-03 00:00:00')},
 {'weight': 57.2, 'date': Timestamp('2022-11-10 00:00:00')},
 {'weight': 59.1, 'date': Timestamp('2022-12-01 00:00:00')},
 {'weight': 58.7, 'date': Timestamp('2022-12-08 00:00:00')},
 {'weight': 60.9, 'date': Timestamp('2023-01-12 00:00:00')},
 {'weight': 60.7, 'date': Timestamp('2023-01-19 00:00:00')},
 {'weight': 61.1, 'date': Timestamp('2023-01-26 00:00:00')},
 {'weight': 61.2, 'date': Timestamp('2023-02-02 00:00:00')},
 {'weight': 60.8, 'date': Timestamp('2023-02-09 00:00:00')},
 {'weight': 60.9, 'date': Timestamp('2023-02-16 00:00:00')},
 {'weight': 60.8, 'date': Timestamp('2023-02-23 00:00:00')},
 {'weight': 61.1, 'date': Timestamp('2023-03-02 00:00:00')},
 {'weight': 61.2, 'date': Timestamp('2023-03-09 00:00:00')},
 {'weight': 61.4, 'date': Timestamp('2023-03-23 00:00:00')},
 {'weight': 62.6, 'date': Timestamp('2023-04-20 00:00:00')},
 {'weight': 62.5, 'date': Timestamp('2023-04-27 00:00:00')},
 {'weight': 62.7, 'date': Timestamp('2023-05-04 00:00:00')},
 {'weight': 62.4, 'date': Timestamp('2023-05-11 00:00:00')},
 {'weight': 64.7, 'date': Timestamp('2023-06-01 00:00:00')},
 {'weight': 65.7, 'date': Timestamp('2023-07-06 00:00:00')},
 {'weight': 66.2, 'date': Timestamp('2023-07-13 00:00:00')},
 {'weight': 66.5, 'date': Timestamp('2023-07-20 00:00:00')},
 {'weight': 67.9, 'date': Timestamp('2023-07-27 00:00:00')},
 {'weight': 69.5, 'date': Timestamp('2023-08-17 00:00:00')},
 {'weight': 73.4, 'date': Timestamp('2023-12-28 00:00:00')},
 {'weight': 69.3, 'date': Timestamp('2024-09-05 00:00:00')},
 {'weight': 68.1, 'date': Timestamp('2024-09-12 00:00:00')},
 {'weight': 67.9, 'date': Timestamp('2024-09-19 00:00:00')},
 {'weight': 66.6, 'date': Timestamp('2024-09-26 00:00:00')},
 {'weight': 66.4, 'date': Timestamp('2024-10-03 00:00:00')},
 {'weight': 66.0, 'date': Timestamp('2024-10-10 00:00:00')},
 {'weight': 65.9, 'date': Timestamp('2024-10-17 00:00:00')},
 {'weight': 64.7, 'date': Timestamp('2024-10-31 00:00:00')},
 {'weight': 63.7, 'date': Timestamp('2024-11-07 00:00:00')},
 {'weight': 64.4, 'date': Timestamp('2024-11-28 00:00:00')},
 {'weight': 59.9, 'date': Timestamp('2022-01-28 00:00:00')},
 {'weight': 60.4, 'date': Timestamp('2022-02-11 00:00:00')},
 {'weight': 60.6, 'date': Timestamp('2022-02-18 00:00:00')},
 {'weight': 59.9, 'date': Timestamp('2022-03-04 00:00:00')},
 {'weight': 61.2, 'date': Timestamp('2022-04-08 00:00:00')},
 {'weight': 61.1, 'date': Timestamp('2022-04-15 00:00:00')},
 {'weight': 60.7, 'date': Timestamp('2022-06-03 00:00:00')},
 {'weight': 62.9, 'date': Timestamp('2022-06-10 00:00:00')},
 {'weight': 61.5, 'date': Timestamp('2022-09-16 00:00:00')},
 {'weight': 60.9, 'date': Timestamp('2022-09-23 00:00:00')},
 {'weight': 60.5, 'date': Timestamp('2022-09-30 00:00:00')},
 {'weight': 59.0, 'date': Timestamp('2022-10-07 00:00:00')},
 {'weight': 57.8, 'date': Timestamp('2022-10-21 00:00:00')},
 {'weight': 57.2, 'date': Timestamp('2022-10-28 00:00:00')},
 {'weight': 57.1, 'date': Timestamp('2022-11-04 00:00:00')},
 {'weight': 56.8, 'date': Timestamp('2022-11-11 00:00:00')},
 {'weight': 58.4, 'date': Timestamp('2022-11-25 00:00:00')},
 {'weight': 58.3, 'date': Timestamp('2022-12-02 00:00:00')},
 {'weight': 58.5, 'date': Timestamp('2022-12-09 00:00:00')},
 {'weight': 58.9, 'date': Timestamp('2022-12-23 00:00:00')},
 {'weight': 60.5, 'date': Timestamp('2023-01-13 00:00:00')},
 {'weight': 61.3, 'date': Timestamp('2023-01-20 00:00:00')},
 {'weight': 61.3, 'date': Timestamp('2023-01-27 00:00:00')},
 {'weight': 61.1, 'date': Timestamp('2023-02-03 00:00:00')},
 {'weight': 61.0, 'date': Timestamp('2023-02-10 00:00:00')},
 {'weight': 61.0, 'date': Timestamp('2023-02-17 00:00:00')},
 {'weight': 61.5, 'date': Timestamp('2023-02-24 00:00:00')},
 {'weight': 62.0, 'date': Timestamp('2023-03-03 00:00:00')},
 {'weight': 61.4, 'date': Timestamp('2023-03-10 00:00:00')},
 {'weight': 61.5, 'date': Timestamp('2023-03-24 00:00:00')},
 {'weight': 62.1, 'date': Timestamp('2023-04-07 00:00:00')},
 {'weight': 61.7, 'date': Timestamp('2023-04-28 00:00:00')},
 {'weight': 62.4, 'date': Timestamp('2023-05-05 00:00:00')},
 {'weight': 62.6, 'date': Timestamp('2023-05-12 00:00:00')},
 {'weight': 65.8, 'date': Timestamp('2023-06-30 00:00:00')},
 {'weight': 66.2, 'date': Timestamp('2023-07-14 00:00:00')},
 {'weight': 66.5, 'date': Timestamp('2023-07-21 00:00:00')},
 {'weight': 67.7, 'date': Timestamp('2023-07-28 00:00:00')},
 {'weight': 72.3, 'date': Timestamp('2023-12-29 00:00:00')},
 {'weight': 73.4, 'date': Timestamp('2024-04-19 00:00:00')},
 {'weight': 69.3, 'date': Timestamp('2024-09-06 00:00:00')},
 {'weight': 68.3, 'date': Timestamp('2024-09-13 00:00:00')},
 {'weight': 67.9, 'date': Timestamp('2024-09-20 00:00:00')},
 {'weight': 66.1, 'date': Timestamp('2024-10-04 00:00:00')},
 {'weight': 66.0, 'date': Timestamp('2024-10-11 00:00:00')},
 {'weight': 65.7, 'date': Timestamp('2024-10-18 00:00:00')},
 {'weight': 65.5, 'date': Timestamp('2024-10-25 00:00:00')},
 {'weight': 64.6, 'date': Timestamp('2024-11-01 00:00:00')},
 {'weight': 63.6, 'date': Timestamp('2024-11-08 00:00:00')},
 {'weight': 64.5, 'date': Timestamp('2024-12-06 00:00:00')},
 {'weight': 64.4, 'date': Timestamp('2024-12-13 00:00:00')},
 {'weight': 60.1, 'date': Timestamp('2022-02-05 00:00:00')},
 {'weight': 61.3, 'date': Timestamp('2022-02-19 00:00:00')},
 {'weight': 63.7, 'date': Timestamp('2022-06-25 00:00:00')},
 {'weight': 63.1, 'date': Timestamp('2022-09-03 00:00:00')},
 {'weight': 62.9, 'date': Timestamp('2022-09-10 00:00:00')},
 {'weight': 61.95, 'date': Timestamp('2022-09-17 00:00:00')},
 {'weight': 60.2, 'date': Timestamp('2022-09-24 00:00:00')},
 {'weight': 60.1, 'date': Timestamp('2022-10-01 00:00:00')},
 {'weight': 59.6, 'date': Timestamp('2022-10-08 00:00:00')},
 {'weight': 57.8, 'date': Timestamp('2022-10-15 00:00:00')},
 {'weight': 57.3, 'date': Timestamp('2022-10-22 00:00:00')},
 {'weight': 56.7, 'date': Timestamp('2022-11-05 00:00:00')},
 {'weight': 57.2, 'date': Timestamp('2022-11-26 00:00:00')},
 {'weight': 58.3, 'date': Timestamp('2022-12-03 00:00:00')},
 {'weight': 61.0, 'date': Timestamp('2023-01-21 00:00:00')},
 {'weight': 61.3, 'date': Timestamp('2023-01-28 00:00:00')},
 {'weight': 61.3, 'date': Timestamp('2023-02-04 00:00:00')},
 {'weight': 60.7, 'date': Timestamp('2023-02-11 00:00:00')},
 {'weight': 61.2, 'date': Timestamp('2023-02-25 00:00:00')},
 {'weight': 61.8, 'date': Timestamp('2023-03-04 00:00:00')},
 {'weight': 61.9, 'date': Timestamp('2023-03-25 00:00:00')},
 {'weight': 63.0, 'date': Timestamp('2023-04-01 00:00:00')},
 {'weight': 65.7, 'date': Timestamp('2023-07-01 00:00:00')},
 {'weight': 68.9, 'date': Timestamp('2024-09-07 00:00:00')},
 {'weight': 67.6, 'date': Timestamp('2024-09-21 00:00:00')},
 {'weight': 66.7, 'date': Timestamp('2024-10-05 00:00:00')},
 {'weight': 65.9, 'date': Timestamp('2024-10-12 00:00:00')},
 {'weight': 66.2, 'date': Timestamp('2024-10-19 00:00:00')},
 {'weight': 63.7, 'date': Timestamp('2024-11-02 00:00:00')},

In [15]:
weights = [weight for weight in weights if weight["date"].date() > last_weight_date]
weights

[{'weight': 64.3, 'date': Timestamp('2024-12-09 00:00:00')},
 {'weight': 63.7, 'date': Timestamp('2024-12-10 00:00:00')},
 {'weight': 64, 'date': Timestamp('2024-12-11 00:00:00')},
 {'weight': 64.4, 'date': Timestamp('2024-12-13 00:00:00')}]

In [16]:
for weight in weights:
    value = weight["weight"]
    date = weight["date"].date()
    try:
        response = client.weights.create_weight(weight=value, date=str(date), user_id=1)
        print(f"Created Weight {value}")
    except Exception as e:
        print(e)

Created Weight 64.3
Created Weight 63.7
Created Weight 64
Created Weight 64.4